# List Cont...

### List sortling

In [1]:
import random

In [7]:
numbers= [random.randint(5, 50) for i in range(15)]

In [8]:
numbers

[16, 10, 24, 21, 13, 43, 7, 19, 8, 40, 22, 41, 25, 37, 22]

In [9]:
len(numbers)

15

In [15]:
numbers.sort(reverse=True)
numbers

[44, 43, 39, 36, 30, 28, 28, 26, 24, 16, 14, 13, 12, 9, 7]

In [11]:
print(numbers)

[7, 8, 10, 13, 16, 19, 21, 22, 22, 24, 25, 37, 40, 41, 43]

In [16]:
numbers= [random.randint(5, 50) for i in range(15)]
numbers

[15, 25, 27, 17, 8, 43, 49, 24, 16, 22, 33, 47, 29, 21, 47]

In [17]:
sorted(numbers, reverse=True)

[49, 47, 47, 43, 33, 29, 27, 25, 24, 22, 21, 17, 16, 15, 8]

In [18]:
numbers

[15, 25, 27, 17, 8, 43, 49, 24, 16, 22, 33, 47, 29, 21, 47]

### List copy & reference

In [21]:
a_numbers= [random.randint(5, 50) for i in range(10)]
a_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 30, 25]

In [22]:
new_numbers = a_numbers
new_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 30, 25]

In [25]:
# new_numbers[-2] = new_numbers[-2] + 5
new_numbers[-2] += 5
new_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [26]:
a_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [27]:
id(new_numbers), id(a_numbers)

(1559907915136, 1559907915136)

In [28]:
# copy() method to copy the list
b_numbers = a_numbers.copy()
b_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [29]:
id(b_numbers), id(a_numbers)

(1559941866112, 1559907915136)

In [30]:
b_numbers[1] += 10
b_numbers

[12, 21, 22, 8, 11, 15, 34, 37, 35, 25]

In [31]:
a_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [32]:
# list accessing
c_numbers = a_numbers[:]
c_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [33]:
id(c_numbers), id(a_numbers)

(1559942829248, 1559907915136)

In [34]:
d_numbers = list(a_numbers)
d_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [35]:
id(d_numbers), id(a_numbers)

(1559943534720, 1559907915136)

### list comparison

In [37]:
c_numbers, a_numbers

([12, 11, 22, 8, 11, 15, 34, 37, 35, 25],
 [12, 11, 22, 8, 11, 15, 34, 37, 35, 25])

In [38]:
new_numbers is a_numbers

True

In [39]:
c_numbers is a_numbers

False

In [40]:
new_numbers == a_numbers

True

In [41]:
c_numbers == a_numbers

True

In [43]:
b_numbers == a_numbers

False

In [42]:
b_numbers

[12, 21, 22, 8, 11, 15, 34, 37, 35, 25]

In [44]:
[1, 2, 7] * 3

[1, 2, 7, 1, 2, 7, 1, 2, 7]

In [47]:
list('python ')*3

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ']

In [48]:
[1, 2, 5] + [1, 4, 9]

[1, 2, 5, 1, 4, 9]

# Tuple

In [50]:
empty_tuple = ()
empty_list = []

In [51]:
digits = (0, 1, 5, 8)
len(digits)

4

In [53]:
new_numbers

[12, 11, 22, 8, 11, 15, 34, 37, 35, 25]

In [54]:
digits_copy = tuple(new_numbers)
digits_copy

(12, 11, 22, 8, 11, 15, 34, 37, 35, 25)

In [61]:
digits_copy[::-1]

(25, 35, 37, 34, 15, 11, 8, 22, 11, 12)

In [62]:
digits_copy.count(11)

2

In [64]:
digits_copy.index(11)

1

In [65]:
digits_copy [0] = 22
digits_copy

TypeError: 'tuple' object does not support item assignment

In [66]:
(1, 8) * 3

(1, 8, 1, 8, 1, 8)

In [67]:
(5, 9) + (1, 8, 1, 8, 1, 8)

(5, 9, 1, 8, 1, 8, 1, 8)

In [74]:
a = 4, 9, 11

In [75]:
a

(4, 9, 11)

In [76]:
len(a)

3

In [71]:
type(a)

tuple

In [73]:
all_information

(4, 9)

In [78]:
title, link, published_date = a

# String

In [99]:
favourite_programming_language = 'Python|python|PYTHON|pyThon|C|C++|Java|C|C++|C++|C'

In [100]:
len(favourite_programming_language)

50

In [96]:
favourite_programming_language[:3]

'Pyt'

In [101]:
favourite_programming_language.upper()

'PYTHON|PYTHON|PYTHON|PYTHON|C|C++|JAVA|C|C++|C++|C'

In [107]:
favourite_programming_language = favourite_programming_language.lower()

In [108]:
no_persons_fv_lang = favourite_programming_language.split('|')

In [109]:
len(no_persons_fv_lang)

11

In [110]:
favourite_programming_language.split('|')

['python',
 'python',
 'python',
 'python',
 'c',
 'c++',
 'java',
 'c',
 'c++',
 'c++',
 'c']

In [114]:
favourite_programming_language.count('c++')/11

0.2727272727272727

In [132]:
# comments = 'I Love Python because Pyhton is ......'
comments = 'We Love Python because Python is ......'

In [120]:
if comments.startswith('I'):
    print('Single person comment')
    
elif comments.startswith('We'):
    print('Plural persons comment')

Plural persons comment

In [122]:
comments.endswith('python')

False

In [126]:
comments.find('Python')

8

In [137]:
splitted_comment = comments.split('Python')
splitted_comment

['We Love ', ' because ', ' is ......']

In [134]:
comments.replace('We', 'I')

'I Love Python because Python is ......'

In [135]:
comments.replace('Python', 'C++')

'We Love C++ because C++ is ......'

In [142]:
' ____ '.join(splitted_comment)

'We Love  ____  because  ____  is ......'

In [145]:
stat = '     I Love      Python     '

In [149]:
stat.strip()

'I Love      Python'

In [152]:
class_no = int(input())
participant = int(input())

2
29

In [153]:
class_no, participant

(2, 29)

In [163]:
print('This is our {} class, total participant. We love to share the knowledge'.format(class_no))

This is our 2 class, total participant. We love to share the knowledge

In [170]:
print(f'This is our {class_no} class, total participant {participant}. We love to share the knowledge')

This is our 2 class, total participant. We love to share the knowledge

In [172]:
print('This is our %d class. Total participant %d' %(class_no, participant))

This is our 2 class. Total participant 29

In [173]:
print('First class\nSecond Class')

First class
Second Class

In [174]:
empty_string = ""

In [181]:
print('''This is a double quotation sentence. Highligh a single "word". How can we do that?''')

This is a double quotation sentence. Highligh a single "word". How can we do that?

In [182]:
sample_c_program = '''
int main()
{
 printf("Hello World");
 return 0;
}

'''

# Dictionary

In [183]:
empty_dict = {}
empty_dict = dict()

In [184]:
type(empty_dict)

dict

In [185]:
sunday_class_routine = {'1st': 'CSE-3532', 
                        '2nd': 'CSE-3532', 
                        '3rd': 'CSE-3566', 
                        '4th': 'CSE-3524'}

In [186]:
sunday_class_routine

{'1st': 'CSE-3532', '2nd': 'CSE-3532', '3rd': 'CSE-3566', '4th': 'CSE-3524'}

In [188]:
sunday_class_routine = dict(first_class='cse-3532', second_class='cse-3566')
sunday_class_routine

{'first_class': 'cse-3532', 'second_class': 'cse-3566'}

In [189]:
list_of_tuples = [('1st', 'CSE-3532'), ('2nd', 'CSE-3566'), ('3rd', 'CSE-3524')]
sunday_class_routine = dict(list_of_tuples)
sunday_class_routine

{'1st': 'CSE-3532', '2nd': 'CSE-3566', '3rd': 'CSE-3524'}

In [190]:
sunday_class_routine['3rd']

'CSE-3524'

In [191]:
sunday_class_routine.values()

dict_values(['CSE-3532', 'CSE-3566', 'CSE-3524'])

In [192]:
sunday_class_routine.keys()

dict_keys(['1st', '2nd', '3rd'])

In [193]:
sunday_class_routine['2nd'] = 'CSE-3532'
sunday_class_routine

{'1st': 'CSE-3532', '2nd': 'CSE-3532', '3rd': 'CSE-3524'}

In [196]:
sunday_class_routine['2nd'] = ['CSE-3532', 'CSE- 3531']

In [197]:
sunday_class_routine

{'1st': 'CSE-3532', '2nd': ['CSE-3532', 'CSE- 3531'], '3rd': 'CSE-3524'}

In [200]:
sunday_class_routine['2nd'][1]

'CSE- 3531'

In [201]:
sunday_class_routine['5th']

KeyError: '5th'

In [202]:
sunday_class_routine.get('2nd')

['CSE-3532', 'CSE- 3531']

In [204]:
print(sunday_class_routine.get('5th'))

None

In [205]:
if sunday_class_routine.get('5th'):
    print("Your have 5th class")
else:
    print("Hurrah! you don't have any 5th class today.")

Hurrah! you don't have any 5th class today.

In [207]:
try:
    print(sunday_class_routine['5th'])
except KeyError as e:
    print("You don't have any 5th class")

You don't have any 5th class

In [211]:
sunday_class_routine['1st']

'CSE-3532'

In [ ]:
dict(key:value, key:value, key:value)

In [216]:
if '5th' in sunday_class_routine.keys():
    print(sunday_class_routine['5th'])
else:
    print('No class')

No class

In [212]:
sunday_class_routine.keys()

dict_keys(['1st', '2nd', '3rd'])

In [222]:
['CSE-3532', 'CSE- 3531'] in sunday_class_routine.values()

True

In [218]:
sunday_class_routine.values()

dict_values(['CSE-3532', ['CSE-3532', 'CSE- 3531'], 'CSE-3524'])

In [223]:
sunday_class_routine.items()

dict_items([('1st', 'CSE-3532'), ('2nd', ['CSE-3532', 'CSE- 3531']), ('3rd', 'CSE-3524')])

# Set

In [225]:
empty_set = set()
programming_language = {'python', 'java', 'c', 'c++', 'php', 'dart', 'python', 'c', 'python'}
programming_language

{'c', 'c++', 'dart', 'java', 'php', 'python'}

In [226]:
len(programming_language)

6

In [229]:
'C#' in programming_language

False

In [235]:
new_numbers = set(new_numbers)
new_numbers

{8, 11, 12, 15, 22, 25, 34, 35, 37}

In [237]:
b_numbers = set([11, 100, 25])
b_numbers

{11, 25, 100}

In [238]:
new_numbers & b_numbers # intersection operation

{11, 25}

In [239]:
new_numbers | b_numbers # union operation

{8, 11, 12, 15, 22, 25, 34, 35, 37, 100}

In [240]:
new_numbers - b_numbers

{8, 12, 15, 22, 34, 35, 37}

In [241]:
b_numbers - new_numbers

{100}

In [242]:
b_numbers.add(200)
b_numbers

{11, 25, 100, 200}

In [243]:
b_numbers.remove(25)
b_numbers

{11, 100, 200}

In [244]:
b_numbers.remove(250)

KeyError: 250

In [245]:
250 in b_numbers

False

# Conditional Statements

In [250]:
number = int(input())

if number >= 0:
    print(f'You entered {number} that is a positive number')
    if number %2 == 0:
        print('Hurrah! that is a even number also')
        
    else:
        print("Hurrah! that is a odd number also")
else:
    print(f'You entered {number} that is a Negative number')

65
You entered 65 that is a positive number
Hurrah! that is a odd number also

In [255]:
number = int(input())

if number > 0:
    print("Positive")
    
elif number == 0:
    print("Zero")
    
elif number <0:
    print("Negative")

45
Positive

In [260]:
cse_3532 = float(input('Enter your CSE-3532 course result: '))
# cse_3532

if cse_3532 > 3.8:
    print("Grad: A+")

elif cse_3532 > 3.7:
    print("Grad: A")

elif cse_3532 > 3.6:
    print("Grad A-")
    
elif cse_3532 > 3.4:
    print("Grad: B")

elif cse_3532 > 3.0:
    print("Grad C")

else:
    print("Fail")

Enter your CSE-3532 course result: 3.5
Grad: B

In [264]:
"Positive" if number >= 0 else "Negative"

'Negative'

In [263]:
number = -8

# Loop

## for loop

In [272]:
list(range(5))

[0, 1, 2, 3, 4]

In [274]:
n = int(input())

pos_cnt, neg_cnt, zero_cnt = 0, 0, 0

for i in range(n):
    number = int(input())
    if number > 0:
        pos_cnt += 1

    elif number == 0:
        zero_cnt += 1

    else:
        neg_cnt += 1
print(pos_cnt, zero_cnt, neg_cnt)

5
2
9
8
-6
-7
3 0 2

In [275]:
office_shopping = ['Chair', 'Table', 'Busket', 'Headphone', 'teabag', 'coffee']

In [283]:
for i in office_shopping:
    print(office_shopping.index(i))
    if i == 'Chair':
        print(f"{i} Section 2A")
    elif i == 'Headphone':
        print(f"{i} Section 3A")
    else:
        print(f"{i} Section 5")

0
Chair Section 2A
1
Table Section 5
2
Busket Section 5
3
Headphone Section 3A
4
teabag Section 5
5
coffee Section 5

In [281]:
for i in range(len(office_shopping)):
    if office_shopping[i] == 'Chair':
        print(f"{office_shopping[i]} Section 2A")
    elif office_shopping[i] == "Headphone":
        print(f"{office_shopping[i]} Section 3A")
    else:
        print(f"{office_shopping[i]} Section 5")

Chair Section 2A
Table Section 5
Busket Section 5
Headphone Section 3A
teabag Section 5
coffee Section 5